#messageBox {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
#sendMessageButton {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  flex-grow: 2;
}
.groupButtons {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.clearFieldButton {
  margin: 0;
  flex-grow: 2;
  padding: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: #da373c;
}
.deleteEmbedButton {
  border-radius: 8px !important;
  margin-right: 8px !important;
}
#nextHook,
#prevHook {
  width: 40%;
}
#prevHook object {
  transform: rotate(180deg);
}
#currentHook {
  font-size: 19px;
  min-width: 50%;
  max-width: 50%;
  text-align: center;
  font-weight: bold;
}
#embedArea {
  gap: 8px;
}
footer {
  display: flex;
  justify-content: center;
  padding: 0px 0px 6px 0px;
}
a {
  color: #7f8388;
  font-size: 12px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.success {
  background: #06a151;
}
.warn {
  background: #d7511d;
}
.error {
  background: #eb2433;
}
@keyframes toUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
#notification {
  position: absolute;
  max-width: 60%;
  height: auto;
  align-self: center;
  z-index: 3;
  bottom: 30px;
  border-radius: 8px;
  font-size: 16px;
  padding: 12px;
  color: white;
  animation: toUp 300ms cubic-bezier(0.1, 0.2, 0.2, 0.8);
  display: none;
}
.clearFieldButton:hover {
  background: #a12828;
}
.clearFieldButton:active {
  background: #8f2022;
}
