* {
  transition: all 100ms;
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
}
.container {
  width: 40%;
  height: 80%;
  align-self: center;
  margin: 0 auto;
  gap: 20px;
}
.mainArea {
  height: auto;
  flex-grow: 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.form {
  padding: 0;
}
.title {
  align-self: center;
  font-size: 32px;
  padding: 5px 5px 30px 5px;
  font-weight: bolder;
}
.hookListContainer {
  background: var(--secondary-background);
  border-radius: 8px;
}
.hookContainer {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  height: 45px;
  margin: 5px 0;
  border-radius: 8px;
}
.hookListContainer .hookContainer:nth-child(odd) {
  background: var(--list-odd);
}
.hookListContainer .hookContainer:nth-child(even) {
  background: var(--list-even);
}
.hookListContainer .hookContainer:hover {
  background: var(--list-hover);
}
.hookContainer .name {
  font-weight: bold;
  font-size: 20px;
  width: 300px;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px 12px;
  border-right: 2px dashed var(--secondary-background);
}

.hookContainer .url {
  font-weight: bold;
  font-size: 20px;
  width: 800px;
  max-width: 800px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 2;
  padding: 8px;
}
.hookContainer .dangerButton {
  width: 100px;
  flex-grow: 2;
  border-radius: 0 8px 8px 0;
  gap: 0;
  height: 100%;
}

.hookContainer .dangerButton object,
.submitButton object {
  height: 23px;
  width: 23px;
}

.options {
  padding: 5px;
  border-radius: 8px;
  background: var(--secondary-background);
}

.options button {
  width: 40%;
}
