/*
ash
 :root {
  --background: #43454a;
  --secondary-background: #36393e;
  --danger: #da373c;
  --danger-hover: #a12828;
  --danger-active: #8f2022;
  --btn-primary: #5766f2;
  --btn-primary-hover: #4b5beb;
  --btn-primary-active: #3242cf;
  --btn-primary-disabled: #7885ff;
  --btn-secondary: #292b30;
  --btn-secondary-hover: #202225;
  --btn-secondary-active: #0b0c0e;
  --btn-secondary-disabled: #36393e;
  --input: #292b30;
  --input-hover: #212226;
  --input-focus: #0b0c10;
  --list-even: #202225;
  --list-odd: #282b30;
  --list-hover: #0b0c0e;
  --success: #06a151;
  --error: #eb2433;
  --placeholder: #6d6c76;
} 
  
dark
:root {
  --background: #1a1a1e;
  --secondary-background: #121214;
  --danger: #e83c4f;
  --danger-hover: #a12828;
  --danger-active: #8f2022;
  --btn-primary: #6d54ef;
  --btn-primary-hover: #5748be;
  --btn-primary-active: #493ea1;
  --btn-primary-disabled: #504996;
  --btn-secondary: #29292d;
  --btn-secondary-hover: #333338;
  --btn-secondary-active: #2a2a30;
  --btn-secondary-disabled: #393a3f;
  --input: #222327;
  --input-hover: #222327;
  --input-focus: #222327;
  --list-even: #343639;
  --list-odd: #2b2e31;
  --list-hover: #0b0c0e;
  --success: #06a151;
  --error: #eb2433;
  --placeholder: #56565e;
} 

onyx 
:root {
  --background: #070709;
  --secondary-background: #121214;
  --danger: #e83c4f;
  --danger-hover: #a12828;
  --danger-active: #8f2022;
  --btn-primary: #6d54ef;
  --btn-primary-hover: #5748be;
  --btn-primary-active: #493ea1;
  --btn-primary-disabled: #504996;
  --btn-secondary: #18181b;
  --btn-secondary-hover: #242427;
  --btn-secondary-active: #2a2a30;
  --btn-secondary-disabled: #121213;
  --input: #131416;
  --input-hover: #131416;
  --input-focus: #131416;
  --list-even: #343639;
  --list-odd: #2b2e31;
  --list-hover: #0b0c0e;
  --success: #06a151;
  --error: #eb2433;
  --placeholder: #56565e;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
*:focus {
  outline: none;
}
*::placeholder {
  color: var(--placeholder);
}
*::-webkit-scrollbar {
  background: #2e3137;
  width: 0.1em;
}
*::-webkit-scrollbar-thumb {
  background: rgb(20, 20, 20);
  background-clip: padding-box;
}
html,
body {
  height: 500px;
  width: 500px;
  background-color: var(--background);
  transition: all 800ms;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  background-color: var(--background);
}
.flex_noWrap {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
  gap: 8px;
}
button {
  font-weight: bold;
  border-radius: 8px;
  background: var(--btn-secondary);
  padding: 2px;
  flex-grow: 1;
  font-size: 14px;
  color: #fff;
  border: none;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
button object {
  height: 25px;
  width: 25px;
  pointer-events: none;
}
.mainArea {
  width: 100%;
  flex-grow: 2;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
}
textarea {
  border: none;
  resize: none;
  width: 100%;
  flex-grow: 8;
  color: #fff;
  border-radius: 8px;
  padding: 12px;
  font-size: 15px;
  background: var(--input);
}
.submitButton,
.dangerButton {
  width: 100%;
  border: none;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 8px;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 12px;
  min-height: 15px;
  max-height: 50px;
}
.submitButton object,
.dangerButton object {
  height: 30px;
  width: 30px;
}

.submitButton {
  background: var(--btn-primary);
}

.dangerButton {
  background: var(--danger);
}

input[type="text"] {
  width: auto;
  background: var(--input);
  padding: 12px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
}
.group {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.group input[type="text"] {
  width: 50%;
}
.mainArea input[type="text"] {
  width: 100%;
}

input[type="text"]:hover,
input[type="text"]:focus,
textarea:hover,
textarea:focus {
  background: var(--input-hover);
}
input[type="text"]:focus,
input[type="text"]:active {
  background: var(--input-focus);
}
button:hover,
button:focus {
  background: var(--btn-secondary-hover);
}
button:active {
  background: var(--btn-secondary-active);
}
button:disabled {
  background: var(--btn-secondary-disabled);
}
.submitButton:hover,
.submitButton:focus {
  background: var(--btn-primary-hover);
}
.submitButton:active {
  background: var(--btn-primary-active);
}
.submitButton:disabled {
  background: var(--btn-primary-disabled);
}
.dangerButton:hover,
.dangerButton:focus {
  background: var(--danger-hover);
}
.dangerButton:active {
  background: var(--danger-active);
}
